header {
  display: flex;
  background-color: #030303;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
  height: 10vh;
}

p {
  margin: 5;
  padding: 4;
  font-family: montserrat, sans-serif;
}

.text {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.text:hover {
  color: rgb(97, 218, 251);
  cursor: pointer;
}

.navtext2 {
  margin: 0px 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
